{% extends 'base.html' %}
{% block content %}
{% block self_head_css_js %}%}
<link href="{{STATIC_URL}}css/opration-log.css" rel="stylesheet">
<link href="http://open.oa.com/static_api/v3/assets/jquery.sumoselect-2.0.0/sumoselect.css" rel="stylesheet">
<script src="http://open.oa.com/static_api/v3/assets/jquery.sumoselect-2.0.0/jquery.sumoselect.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.validate.min.js"></script>
<script src="{{STATIC_URL}}js/messages_zh.js"></script>
{% endblock %}

    <div class="king-main-container">
        <div class="container-fluid">

            <div class="panel panel-default pannel-overflow">
                <div class="panel-heading">
                    <i class="fa fa-list-ul"></i>添加配置
                </div>
                <div class="panel-body panel-tab-body pl20 pr20">
                    <div class="panel-content">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a href="#file" data-toggle="tab">基本信息</a>
                            </li>
                            <!--<li>
                                <a href="#bind" data-toggle="tab">配置绑定</a>
                            </li>-->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade king-block-content active in" id="file">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <form id="infor_add" method="post" class="form-horizontal pt20">
                                            <div class="form-group">
                                                <label for="domain_name" class="col-sm-2 control-label">配置域名：</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="domain_name" id="domain_name" class="form-control">
                                                    <p class="help-block">配置域名</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="infor_name" class="col-sm-2 control-label">配置文件名称：</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="infor_name" class="form-control" name="infor_name">
                                                    <p class="help-block">例如: bookcs.paygate.reader.qq.com.conf</p>
                                                </div>
                                            </div>
                                           <div class="form-group">
                                                <label for="input3" class="col-sm-2 control-label">配置组：</label>
                                                <div class="col-sm-10">
                                                    <select id='infors' name="infors" class="form-control m-b input-sm" onchange="change_info()">
                                                        <option value="">配置组名称</option>
                                                        {% for group in group_all %}
                                                            {% ifequal group.groupname infors %}
                                                                <option value="{{ group.id }}" selected>{{ group.groupname }}</option>
                                                            {% else %}
                                                                <option value="{{ group.id }}">{{ group.groupname }}</option>
                                                            {% endifequal %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="comment" class="col-sm-2 control-label">描述：</label>
                                                <div class="col-sm-10">
                                                    <textarea id="comment" class="form-control" rows="4" name='comment' style="font-size: 12px;"></textarea>
                                                    <p class="help-block">配置的描述信息</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10 col-sm-offset-2">
                                                    <button type="submit" class="king-btn king-primary mr10">保存</button>
                                                    <button type="reset" value="Reset">重置</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="tab-pane fade" id="bind">
                                
                                <div class="panel panel-tables">
                                    <div class="p20">
                                        <a class="king-btn king-radius king-primary" title="保存绑定关系">保存绑定关系</a>
                                        <span class="hint-info"><i class="hint"></i>勾选配置文件以进行绑定，反选以进行解绑</span>
                                    </div>

                                        <div class="panel-content">
                                            <div class="table-group">
                                                <div class="table-title">
                                                    <i class="fa fa-files-o"></i>Common
                                                </div>
                                                <table class="table table-out-bordered table-header-bg table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:38px;text-align:center;"><input type="checkbox" value=""></th>
                                                        <th>功能ID</th>
                                                        <th>功能名称</th>
                                                        <th>进程名称</th>
                                                        <th>工作路径</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                    <tr>
                                                        <td align="center"><input type="checkbox" value=""></td>
                                                        <td>1</td>
                                                        <td>xxxx</td>
                                                        <td>xx</td>
                                                        <td>/data/home/user00/ttdsg/cfg</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center"><input type="checkbox" value=""></td>
                                                        <td>1</td>
                                                        <td>xxxx</td>
                                                        <td>xx</td>
                                                        <td>/data/home/user00/ttdsg/cfg</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                            <div class="table-group">
                                                <div class="table-title">
                                                    <i class="fa fa-files-o"></i>未分组(默认)
                                                </div>
                                                <table class="table table-out-bordered table-header-bg table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:38px;text-align:center;"><input type="checkbox" value=""></th>
                                                        <th>功能ID</th>
                                                        <th>功能名称</th>
                                                        <th>进程名称</th>
                                                        <th>工作路径</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                    <tr>
                                                        <td align="center"><input type="checkbox" value=""></td>
                                                        <td>1</td>
                                                        <td>xxxx</td>
                                                        <td>xx</td>
                                                        <td>/data/home/user00/ttdsg/cfg</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center"><input type="checkbox" value=""></td>
                                                        <td>1</td>
                                                        <td>xxxx</td>
                                                        <td>xx</td>
                                                        <td>/data/home/user00/ttdsg/cfg</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block self_footer_js %}

<script type="text/javascript">
    $('#sumoselect_demo2 select').SumoSelect({
        okCancelInMulti: true
    });

    $(".king-vertical-nav4 ul ul li a[href='{% url 'infor_list' %}']").parent().parent().css('display', 'block');
    $(".king-vertical-nav4 ul ul li a[href='{% url 'infor_list' %}']").parent().addClass('active')

    $("#infor_add").validate({
        rules: {
          domain_name: {
            required: true,
            minlength: 2
          },
          infor_name: {
            required: true,
          },
          infors: {
            required: true,
          },
          comment: {
            required: true,
            minlength: 5
          }
        },
        messages: {
          domain_name: {
            required: "请配置域名",
            minlength: "配置组名称至少由两个字母组成"
          },
          infor_name: {
            required: "请填写配置文件名称",
          },
          infors: {
            required: "请选择配置组",
          },
          comment: {
            required: "请输入配置组的描述信息",
            minlength: "配置组的描述信息不能小于 5 个字母"
          }
        }
    });
</script>

{% endblock %}