{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
<link href="{{STATIC_URL}}css/opration-log.css" rel="stylesheet">
<link href="http://open.oa.com/static_api/v3/assets/jquery.sumoselect-2.0.0/sumoselect.css" rel="stylesheet">
<script src="http://open.oa.com/static_api/v3/assets/jquery.sumoselect-2.0.0/jquery.sumoselect.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.validate.min.js"></script>
<script src="{{STATIC_URL}}js/messages_zh.js"></script>
<link href="http://t.open.oa.com/static_api/v3/assets/select2-3.5.2/select2.css" rel="stylesheet">
<script src="http://t.open.oa.com/static_api/v3/assets/select2-3.5.2/select2.js"></script>
{% endblock %}
{% block content %}
{% autoescape off %}
    <div class="king-main-container">
        <div class="container-fluid">
            <div class="panel panel-default pannel-overflow">
                <div class="panel-heading">
                    <i class="fa fa-list-ul"></i>修改server
                </div>
                <div class="panel-body panel-tab-body pl20 pr20">
                    <div class="panel-content">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a href="#file" data-toggle="tab">基本信息</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade king-block-content active in" id="file">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <form id="server_edit" class="form-horizontal pt20">
                                            <div class="form-group">
                                                <label for="listen" class="col-sm-2 control-label">listen：</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="listen" class="form-control" name="listen" value="{{ server.listen_post }}">
                                                    <p class="help-block">虚拟主机服务端口,例如: 80</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="server_name" class="col-sm-2 control-label">server_name：</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="server_name" class="form-control" name="server_name" value="{{ server.server_name }}">
                                                    <p class="help-block">例如: newadr.reader.qq.com</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">gzip：</label>
                                                <div class="col-sm-7">
                                                    {% for r, role_name in gzip_role.items %}
                                                    <div class="col-sm-3">
                                                        <div class="radio i-checks" id="gzip">
                                                            <label><input type="radio" value="{{ r }}" class="role" name="role" {% ifequal r server.gzip %}checked{% endifequal %}>{{ role_name }}</label>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">gzip_types：</label>
                                                <div class="col-sm-10">
                                                    <input id="gzip_types" type="text" class="form-control" name="gzip_types" value="{{ server.gzip_types }}">
                                                    <p class="help-block">压缩类型</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="access_log" class="col-sm-2 control-label">access_log：</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="access_log" class="form-control" name="access_log" value="{{ server.access_log }}">
                                                    <p class="help-block">访问日志路径,例如:/data/nginxlog/newadr.reader.qq.com.access.log  main;</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="error_log" class="col-sm-2 control-label">error_log：</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="error_log" class="form-control" name="error_log" value="{{ server.error_log }}">
                                                    <p class="help-block">错误日志路径,例如: /data/nginxlog/newadr.reader.qq.com.error.log;</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">server其它配置项：</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" rows="4" id="server_other" name="server_other" style="font-size: 12px;">{{ server.other_server }}</textarea>
                                                </div>
                                            </div>

                                            <div class="plugin3_demo" id="plugin3_demo7" style="display:inline-block;padding-bottom: 20px;margin-left: 17%;">
                                                <input type="hidden" class="bigdrop" id="plugin3_demo7_1" style="width:300px;">
                                                <input type="hidden" class="bigdrop" id="plugin3_demo7_2" style="width:300px;">
                                            </div>

                                            <!--<div class="form-group">-->
                                                <!--<label class="col-sm-2 control-label">配置：</label>-->
                                                <!--<div class="col-sm-5">-->
                                                    <!--<div class="sumoselect_demo" id="sumoselect_demo2" style="width:100%;">-->
                                                        <!--<select id="servers" name="servers" size="6" class="form-control m-b" multiple>-->
                                                            <!--{% for infor in infor_all %}-->
                                                                <!--{% if infor.full_name in server.id|server_infor_fullname %}-->
                                                                    <!--<option class="sele" value="{{ infor.id }}" selected>{{ infor.full_name }}</option>-->
                                                                <!--{% else %}-->
                                                                    <!--<option class="sele" value="{{ infor.id }}">{{ infor.full_name }}</option>-->
                                                                <!--{% endif %}-->
                                                            <!--{% endfor %}-->
                                                        <!--</select>-->
                                                        <!--<p class="help-block">配置名称(支持多选)</p>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <div class="form-group">
                                                <div class="col-sm-10 col-sm-offset-2">
                                                    <button type="submit" class="king-btn king-primary mr10 submit">保存</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endautoescape %}
{% endblock %}

{% block self_footer_js %}

<script type="text/javascript">
    $('#sumoselect_demo3 select').SumoSelect({
        okCancelInMulti: true
    });

    $(".king-vertical-nav4 ul ul li a[href='{% url 'infor_list' %}']").parent().parent().css('display', 'block');
    $(".king-vertical-nav4 ul ul li a[href='{% url 'server_list' %}']").parent().addClass('active');

    $("#server_edit").validate({
        rules: {
          listen: {
            required: true,
            digits: true
          },
          server_name: {
            required: true
          },
          access_log: {
            required: true
          },
          error_log: {
            required: true
          }
        },
        messages: {
          listen: {
            required: "请输入监听端口号"
          },
          server_name: {
            required: "请填写server_name的名称"
          },
          access_log: {
            required: "请填写access_log日志路径"
          },
          error_log: {
            required: "请填写error_log日志路径"
          }
        },
        submitHandler:function (form) {
            try {
                if($('#plugin3_demo7_1').select2("data").text == '' || $('#plugin3_demo7_2').select2("data").text == ''){
//                    swal("配置不能为空", "", "error");
                    var d = dialog({
                        width: 260,
                        title: '配置不能为空',
                        content: "配置不能为空",
                        okValue: '关闭',
                        ok: function() {
                            // do something
                        }
                    });
                    d.showModal();
                    return false
                }
            }
            catch (e){
//                swal("配置不能为空", "", "error");
                var d = dialog({
                    width: 260,
                    title: '配置不能为空',
                    content: "配置不能为空",
                    okValue: '关闭',
                    ok: function() {
                        // do something
                    }
                });
                d.showModal();
                return false;
            }

            data = {"server":JSON.stringify({"listen": $("#listen").val(), "server_name": $("#server_name").val(), "gzip": $("#gzip input[name='role']:checked").val(), "gzip_types": $("#gzip_types").val(), "access_log": $("#access_log").val(),"error_log": $("#error_log").val(),"server_other": $("#server_other").val(),"groups":$('#plugin3_demo7_1').select2("data").text, "infors": $('#plugin3_demo7_2').select2("data").text})};
            $.post(window.location.href, data, function () {
                window.location.href = '/s/yw_deploy/nginx/server/list/'
            })
        }
    });


    $.ajax({
        type: 'get',
        url: '/s/yw_deploy/deploy/api/conf_list/',
        async:false,
        success: function (data) {
            levelList = JSON.parse(data);
        }
    });

    $('#plugin3_demo7 #plugin3_demo7_1').select2({
        data : levelList,
        placeholder: "选择配置组"
    });

    $('#plugin3_demo7_2').select2({
        data : [],
        placeholder: "选择配置"
    });

    $("#plugin3_demo7_1").on("change", function(e) {
        var data = $('#plugin3_demo7_1').select2('data');

        if(data.child){
            $('#plugin3_demo7_2').val('');
            $('#plugin3_demo7_2').select2({
                data : data.child,
                placeholder: "选择配置"
            });
        }
    });

    $("#plugin3_demo7_1").select2("data", {text: "{{server.groups}}"});
    $("#plugin3_demo7_2").select2("data", {text: "{{server.infors}}"});

</script>

{% endblock %}