
<script src="{{STATIC_URL}}js/jquery-2.1.1.min.js"></script>
<!-- Bootstrap css -->

<link href="{{STATIC_URL}}css/nifty.min.css" rel="stylesheet">
<link href="http://open.oa.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="http://t.open.oa.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
<link href="http://t.open.oa.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/main.css" rel="stylesheet">

<link href="http://t.open.oa.com/static_api/v3/assets/artDialog-6.0.4/css/ui-dialog.css" rel="stylesheet">
<!--<link href="{{STATIC_URL}}css/opration-log.css" rel="stylesheet">-->
<!--<link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet">-->
<!--<link href="{{STATIC_URL}}css/jquery.dataTables.min.css" rel="stylesheet">-->
<!--<link href="{{STATIC_URL}}css/dropzone.css" rel="stylesheet">-->
<!--<link href="http://open.oa.com/static_api/v3/assets/jquery.sumoselect-2.0.0/sumoselect.css" rel="stylesheet">-->


<script src="{{STATIC_URL}}js/underscore-min.js"></script>
<script src="{{STATIC_URL}}js/index.js"></script>
<script src="{{STATIC_URL}}js/nifty.min.js"></script>
<!--<script src="{{STATIC_URL}}js/jquery.validate.min.js"></script>-->
<!--<script src="{{STATIC_URL}}js/messages_zh.js"></script>-->
<script src="{{STATIC_URL}}js/highcharts.js"></script>
<!--{#<script src="{{STATIC_URL}}js/exporting.js"></script>#}  &lt;!&ndash; 去掉Highcharts图右上角的打印及其导出按钮，取消注释后，按钮会显示出来 &ndash;&gt;-->
<script src="{{STATIC_URL}}js/highcharts-zh_CN.js"></script>
<!--<script src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>-->
<script src="{{STATIC_URL}}js/dropzone.js"></script>

<!--?<script src="http://open.oa.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>-->
<!--<script src="http://open.oa.com/static_api/v3/assets/jquery.sumoselect-2.0.0/jquery.sumoselect.min.js"></script>-->
<script src="http://t.open.oa.com/static_api/v3/assets/artDialog-6.0.4/dist/dialog-min.js"></script>
<script src="http://t.open.oa.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
<script src="http://t.open.oa.com/static_api/v3/bk/js/bk.js"></script>

<!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
<!--[if lt IE 9]>
<!--<script src="http://t.open.oa.com/static_api/v3/assets/js/html5shiv.min.js"></script>-->
<!--<script src="http://t.open.oa.com/static_api/v3/assets/js/respond.min.js"></script>-->
<![endif]-->